<include href="views/header.html"/>
<include href="views/header.html"/>
<body>
<nav class="navbar navbar-light bg-dark">
    <div class="container">
        <h4 class="mb-0 navbar_title mb-2 mt-2 text-white">Collective Auto Sales</h4>
    </div>
</nav>

<section class="inventory py-5" id="inventory">
    <div class="container">
        <!-- section title -->
        <div class="row mb-5">
            <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                <h2 class="align-self-center mx-1">Services Center</h2>
            </div>
        </div>
        <!-- end of section title -->
    </div>
</section>
</body>
</html>